<footer class='bg-gray-100 px-16 py-12 mt-8'>

    <div class='flex flex-row justify-between px-6 items-center'>

        <div>

            &copy;2021-2022 <span class='font-bold text-sm text-center px-4 text-lg text-blue-500'>
                [/=siteName /]
            </span>
            All
            rights reserved

        </div>

        <ul class='hidden md:inline-block ml-48 space-x-8 text-lg text-center text-gray-700 '>
            <a class='cursor-pointer hover:underline'> About </a>
            <a class='cursor-pointer hover:underline'> Privacy </a>
            <a class='cursor-pointer hover:underline'> Terms of use </a>


        </ul>

    </div>

</footer>