<div class=' top-0 left-0 right-0 shadow-sm'>

    <div class='flex  md:flex-row items-center justify-between p-4 h-16 '>
        <div
             class='flex flex-row flex-nowrap justify-center items-center space-x-2 cursor-default select-none'>
            <img src='/favicon.ico'
                 alt='logo'
                 height="300"
                 class='rounded-full h-8 md:h-10 md:w-28 w-24'
                 width="200" />
            <!-- <h1 class='font-bold uppercase text-white text-lg md:text-2xl font-black'>

                [/= siteName /]
            </h1> -->

        </div>

        <div class='  md:w-2/4 '>
            <i class='bi-justify-left md:hidden text-4xl text-white '></i>
            <ul
                class=" fixed md:static top-0 left-0 right-0 bottom-0 bg-gray-800 md:bg-gray-700  z-20 flex flex-col md:flex-row items-center justify-around">
                <i onclick="this.parentElement.parentElement.style.display = 'none'"
                   class='bi-x text-xl absolute top-0 right-0 p-2 inline-block bg-gray-100 hover:bg-gray-300 text-black  cursor-pointer rounded-tr '></i>
                <a href="/"
                   class='text-center  uppercase   hover:text-blue-400 font-semibold text-white transition-colors font-sans   text-base md:text-lg'>
                    Home </a>
                <a href="[/=appUrl/]/?component_ref=dashboard"
                   class='text-center  uppercase   hover:text-blue-400 font-semibold text-white transition-colors font-sans   text-base md:text-lg'>
                    Dashboard </a><a href='[/= appUrl /]/?component_ref=transactions&sub_component_ref=D'
                   class='text-center  uppercase   hover:text-blue-400 font-semibold text-white transition-colors font-sans   text-base md:text-lg'>
                    Deposit </a><a href=""
                   class='text-center  uppercase   hover:text-blue-400 font-semibold text-white transition-colors font-sans   text-base md:text-lg'>
                    <a href='[/= appUrl /]/?component_ref=transactions&sub_component_ref=W'
                       class='text-center  uppercase   hover:text-blue-400 font-semibold text-white transition-colors font-sans   text-base md:text-lg'>
                        Withdrawal </a>

                    <a href=""
                       class='text-center  uppercase   hover:text-blue-400 font-semibold text-white transition-colors font-sans   text-base md:text-lg'>
                        Contact us </a>


                    [/ if (auth.user) { /]

                    <a href='/banking/authentications/log-out/'
                       role='button'
                       class='text-center  uppercase bg-blue-500   hover:bg-blue-400  font-semibold text-white py-2 px-6 rounded transition-colors font-sans   text-base md:text-lg'>
                        Log out </a>




                    [/ } else { /]
                    <a href='/banking/authentications/sign-up/'
                       role='button'
                       class='text-center  uppercase bg-blue-500   hover:bg-blue-400  font-semibold text-white py-2 px-6 rounded transition-colors font-sans   text-base md:text-lg'>
                        Sign up </a>


                    [/ } /]



            </ul>
        </div>


    </div>
</div>