<div class=' '>
    <div class='flex flex-col justify-center space-y-8 items-center  mt-6'>

        <div class='px-6 py-8 rounded bg-gray-100 w-full relative'>
            <h2 class='text-left font-bold capitalize text-gray-700  text-2xl my-2'> Personal
                details</h2>
            <div class='py-4'>
                <p class='text-lg py-1 text-left text-gray-700'> Name : [/= user.firstname + ' ' + user.lastname /]
                </p>
                <!-- <p class='text-lg py-1 text-left text-gray-700'> Date of birth : 21/02/1991 </p> -->
                <p class='text-lg py-1 text-left text-gray-700'> Address : [/= user.address.street /] </p>


            </div>

            <span class='absolute top-0 right-0 text-xl p-2 cursor-pointer'><i
                   class='bi-pencil-square text-4xl  '></i> Edit
            </span>
        </div>

<!--
        <div class='px-6 py-8 rounded bg-gray-100 w-full relative'>
            <h2 class='text-left font-bold capitalize text-gray-700  text-2xl my-2'> Account
                Settings
            </h2>
            <div class='py-4'>
                <p class='text-lg py-1 text-left text-gray-700'> Language : English (United States)
                </p>
                <p class='text-lg py-1 text-left text-gray-700'> Timezone : 21/02/1991 </p>
                <p class='text-lg py-1 text-left text-gray-700'> Status : Active </p>


            </div>

            <span class='absolute top-0 right-0 text-xl p-2 cursor-pointer'><i
                   class='bi-pencil-square text-4xl  '></i> Edit
            </span>
        </div> -->


        <div class='px-6 py-8 rounded bg-gray-100 w-full relative'>
            <h2 class='text-left font-bold capitalize text-gray-700  text-2xl my-2'> Email Addresses
            </h2>
            <div class='py-4'>
                <p class='text-lg py-1 text-left text-gray-700'> Email : [/= user.email /]
                </p>



            </div>

            <span class='absolute top-0 right-0 text-xl p-2 cursor-pointer'><i
                   class='bi-pencil-square text-4xl  '></i> Edit
            </span>
        </div>

        <div class='px-6 py-8 rounded bg-gray-100 w-full relative'>
            <h2 class='text-left font-bold capitalize text-gray-700  text-2xl my-2'> Phone
            </h2>
            <div class='py-4'>
                <p class='text-lg py-1 text-left text-gray-700'> Mobile : NA
                </p>



            </div>

            <span class='absolute top-0 right-0 text-xl p-2 cursor-pointer'><i
                   class='bi-pencil-square text-4xl  '></i> Edit
            </span>
        </div>

        <div class='px-6 py-8 rounded bg-gray-100 w-full relative'>
            <h2 class='text-left font-bold capitalize text-gray-700  text-2xl my-2'> Security
            </h2>
            <div class='py-4'>
                <p class='text-lg py-1 text-left text-gray-700'> Password : **************
                </p>



            </div>

            <span class='absolute top-0 right-0 text-xl p-2 cursor-pointer'><i
                   class='bi-pencil-square text-4xl  '></i> Edit
            </span>
        </div>
    </div>


</div>