<div>

    <div>

        <p class='text-left px-6 py-12 text-2xl font-bold text-white'>
            Withdrawal log </p>
        <table class='w-full border border-gray-600  '>
            <tr class='text-center text-lg text-white  font-bold'>
                <th class='py-6'>
                    Date
                </th>
                <th>
                    Transaction ID
                </th>
                <th>
                    Amount
                </th>

                <th>
                    Details
                </th>
            </tr>

            <tr
                class='text-center  hover:bg-gray-200 cursor-pointer text-base text-black bg-gray-100'>
                <td class="py-4"> 12/11/2021 </td>
                <td> QE764597758T8IGIU8T7 </td>
                <td> $4,500 </td>
                <td> Payment received from James </td>
            </tr>

            <tr
                class='text-center  hover:bg-gray-200 cursor-pointer text-base text-black bg-gray-100'>
                <td class="py-4"> 12/11/2021 </td>
                <td> QE764597758T8IGIU8T7 </td>
                <td> $4,500 </td>
                <td> Payment received from James </td>
            </tr>

            <tr
                class='text-center  hover:bg-gray-200 cursor-pointer text-base text-black bg-gray-100'>
                <td class="py-4"> 12/11/2021 </td>
                <td> QE764597758T8IGIU8T7 </td>
                <td> $4,500 </td>
                <td> Payment received from James </td>
            </tr>

            <tr
                class='text-center  hover:bg-gray-200 cursor-pointer text-base text-black bg-gray-100'>
                <td class="py-4"> 12/11/2021 </td>
                <td> QE764597758T8IGIU8T7 </td>
                <td> $4,500 </td>
                <td> Payment received from James </td>
            </tr>
            <tr
                class='text-center  hover:bg-gray-200 cursor-pointer text-base text-black bg-gray-100'>
                <td class="py-4"> 12/11/2021 </td>
                <td> QE764597758T8IGIU8T7 </td>
                <td> $4,500 </td>
                <td> Payment received from James </td>
            </tr>


        </table>
    </div>

</div>