<!DOCTYPE html>
<html lang="en">

    <head>
        [/- include('__externals__.ejs'); /]

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title>[/= siteName/] | [/= tagline /]</title>
    </head>

    <script>
        $(document).ready(() => {

            $('#openMenu').click(() => {

                $('#menu').slideDown('fast');
                $('#menu').css({ 'display': 'flex' })
            })

            $('#closeMenu').click(() => {

                $('#menu').css({ 'display': 'flex' })
                $('#menu').slideUp('fast');
            })

            $('#openBtc').click(() => {

                $('#btc').fadeIn('fast');
            })






        })
    </script>

    <body class='bg-gray-700'>
        [/- include('__header__.ejs') /]

        <!-- Details -->
        <div id='btc'
             class='fixed hidden top-4 left-0 right-0 mx-auto   bg-white md:max-w-4xl z-30 pb-6'>
            <div class='relative p-4'>

                <i onclick="this.parentElement.parentElement.style.display = 'none'"
                   class='bi-x text-xl absolute top-0 right-0 p-2 inline-block bg-gray-100 hover:bg-gray-300 text-black  cursor-pointer rounded-tr '></i>


                <img src='/img/qr.png'
                     width='400'
                     height='400'
                     class='object-cover mx-auto block'
                     alt='details' />

                <br />
                <p class='ml-4 text-center text-sm text-black  '>
                    Copy the address below or scan the QR </p>
                <br />
                <p class=' text-center text-sm text-black font-bold '>
                    [/=BTC /] </p>

            </div>


        </div>

        <!-- InfoBoard  -->

        [/ let textToShow = req.flash('info') /]


        [/ if (textToShow.length) { /]
        <div class='fixed top-4 left-0 right-0 mx-auto  rounded bg-white md:max-w-2xl z-30 pb-6'>
            <div class='relative p-4'>


                <i
                   class='bi-info-circle text-xl absolute top-0 left-0 p-2 inline-block  rounded-l   rounded-t'></i>

                <i onclick="this.parentElement.parentElement.style.display = 'none'"
                   class='bi-x text-xl absolute top-0 right-0 p-2 inline-block bg-gray-100 hover:bg-gray-300 text-black  cursor-pointer rounded-tr '></i>

                <br /><br />
                <p class='ml-4 text-left text-xl text-blue-500 '> [/= textToShow/] </p>

            </div>


        </div>
        <!-- Info  -->

        [/ } /]

        <div class='relative'>

            <img src='/img/bg.jpg'
                 class='object-cover w-screen md:w-full h-96 '
                 width='1000'
                 height='500'
                 alt='bg' />


            <!-- Conditional Template Inclusion  -->
            [/ if ( templateType === 'dashboard'){ /]
            <p class='text-3xl md:text-5xl font-normal text-white absolute top-20 left-10'> <i
                   class='bi-speedometer2'></i>
                Dashboard
            </p>
            [/ } /]


            [/ if ( templateType === 'transactions'){ /]
            <p class='text-3xl md:text-5xl font-normal text-white absolute top-20 left-10'> <i
                   class='bi-journal-album'></i>
                Transactions
            </p>
            [/ } /]


            [/ if (templateType === 'deposits'){ /]
            <p class='text-3xl md:text-5xl font-normal text-white absolute top-20 left-10'> <i
                   class='bi-cash-stack'></i>
                Deposits
            </p>
            [/ } /]


            [/ if (templateType === 'notifications'){ /]
            <p class='text-3xl md:text-5xl font-normal text-white absolute top-20 left-10'> <i
                   class='bi-bell'></i>
                Notifications
            </p>
            [/ } /]

            [/ if (templateType === 'withdrawals'){ /]
            <p class='text-3xl md:text-5xl font-normal text-white absolute top-20 left-10'> <i
                   class='bi-download'></i>
                Withdrawals
            </p>
            [/ } /]

            [/ if (templateType === 'settings'){ /]
            <p class='text-3xl md:text-5xl font-normal text-white absolute top-20 left-10'> <i
                   class='bi-sliders'></i>
                Settings
            </p>
            [/ } /]






        </div>

        <main class='  md:mx-32 md:my-32'>

            <div
                 class='flex flex-col md:flex-row items-center justify-center md:justify-around md:space-x-8 '>

                <div class='w-1/4 bg-gray-100 self-start min-h-screen pb-16 hidden md:block '>

                    <div>

                        <div>
                            <img src="[/= user.avatar || '/07.png' /]"
                                 height="300"
                                 width="200"
                                 alt='Avatar'
                                 class="rounded-full block mx-auto my-4 border-4 border-gray-300" />

                            <h2
                                class='font-semibold text-center text-gray-700 px-1 text-xl md:text-2xl capitalize'>
                                [/= auth.user ? auth.user.firstname + ' ' + auth.user.lastname :
                                "Anonymous Anonymous" /] </h2>
                            <p class=' text-center px-1 text-base md:text-lg '>
                                [/= auth.user ? auth.user.email : "Anonymous " /] </p>
                        </div>

                        <div class='flex flex-col  justify-center items-center rounded mt-8 '>

                            <a href="[/=appUrl/]/?component_ref=dashboard"
                               class='py-4 hover:bg-gray-300  capitalize block w-full text-left text-xl px-6

                               [/ if (templateType==="dashboard") { /]
                               bg-blue-500 text-white
                               [/}/]

                               '>
                                <i class='
                               bi-speedometer2
                               text-xl
                               px-2'></i>
                                Dashboard
                            </a>
                            <a href="[/=appUrl/]/?component_ref=transactions"
                               class='py-4 hover:bg-gray-300 capitalize block w-full text-left text-xl px-6

                                                            [/ if (templateType==="transactions") { /]
                                                           bg-blue-500 text-white
                                                           [/}/]

                                                           '>
                                <i class='bi-journal-album text-xl px-2'></i>
                                Transactions
                            </a>

                            <a href="[/=appUrl/]/?component_ref=deposits"
                               class='py-4 hover:bg-gray-300 capitalize block w-full text-left text-xl px-6

                                [/ if (templateType==="deposits") { /]
                               bg-blue-500 text-white
                               [/}/]

                               '>
                                <i class='bi-cash-stack text-xl px-2'></i>
                                Deposit history
                            </a><a href="[/=appUrl/]/?component_ref=withdrawals"
                               class='py-4 hover:bg-gray-300 capitalize block w-full text-left text-xl px-6

                                [/ if (templateType==="withdrawals") { /]
                               bg-blue-500 text-white
                               [/}/]
                               '>
                                <i class='bi-download text-xl px-2'></i>
                                Withdrawal history
                            </a><a href="[/=appUrl/]/?component_ref=notifications"
                               class='py-4 hover:bg-gray-300 capitalize block w-full text-left text-xl px-6
                                [/ if (templateType==="notifications") { /]
                               bg-blue-500 text-white
                               [/}/]

                               '>
                                <i class='bi-bell text-xl px-2'></i>
                                Notifications
                            </a>
                            </a><a href="[/=appUrl/]/?component_ref=settings"
                               class='py-4 hover:bg-gray-300 capitalize block w-full text-left text-xl px-6

                                [/ if (templateType==="settings") { /]
                               bg-blue-500 text-white
                               [/}/]
                               '>
                                <i class='bi-sliders text-xl px-2'></i>
                                Settings
                            </a>
                            </a><a href="/banking/authentications/log-out/"
                               class='py-4 hover:bg-gray-300 capitalize block w-full text-left text-xl px-6  '>
                                <i class='bi-box-arrow-left text-xl px-2'></i>
                                Log out
                            </a>



                        </div>
                    </div>


                </div>

                <div class='w-11/12 md:w-full md:flex-1 self-center md:self-start '>


                    <div
                         class='hidden md:flex flex-row justify-center md:justify-between items-center py-6 px-12 bg-gray-100'>

                        <div class='w-full md:w-4/12 relative'> <input type='text'
                                   name='search'
                                   class='py-3 pl-8 w-full  pr-8 rounded-lg outline-none ring-1 ring-gray-300'
                                   placeholder='Search  transactions' />


                            <i
                               class='bi-search inline-block absolute text-lg cursor-pointer  px-2 py-1 top-2 right-2 bg-gray-700 text-white rounded-full'></i>

                        </div>
                        <div>

                            <div class='relative inline-block'
                                 title='[/= notificationCount /] notification(s)'>
                                <i
                                   class='bi-bell hidden md:inline-block text-xl inline-block px-3 py-2 bg-gray-700 text-white rounded-full'></i>
                                <span
                                      class='bg-red-500  hidden md:inline-block text-sm absolute bottom-9 right-1 text-white rounded-full px-2'>
                                    [/= notificationCount > 0 ? notificationCount : null /] </span>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <a class='hidden md:inline-block'
                               href='[/=appUrl/]/?component_ref=settings'><i
                                   title="[/= auth.user.firstname + ' ' + auth.user.lastname /]"
                                   class='bi-person text-xl inline-block px-3 py-2 bg-gray-700 text-white rounded-full'></i></a>

                        </div>

                    </div>

                    [/ if (templateType !== 'notifications' && templateType !== 'settings' &&
                    templateType !== 'transactions'){ /]



                    <div class="md:hidden bg-gray-900 py-8">
                        <img src="[/= user.avatar || '/07.png' /]"
                             height="300"
                             width="150"
                             alt='Avatar'
                             class="rounded-full block mx-auto my-4 border-4 border-gray-300" />

                        <h2
                            class='font-semibold text-center text-white px-1 text-xl md:text-2xl capitalize'>
                            Hello,
                            [/= auth.user ? auth.user.firstname + ' ' + auth.user.lastname :
                            "Anonymous Anonymous" /] </h2>
                        <p class=' text-center text-white px-1 text-base md:text-lg '>
                            [/= auth.user ? auth.user.email : "Anonymous " /] </p>

                        <p
                           class="pt-4 pl-4 text-sm text-white text-left border-t border-white mt-4">
                            <i class="bi-star"></i>
                            Welcome
                            to your dashboard [/= auth.user ? auth.user.firstname : "Anonymous" /].
                        </p>
                    </div>



                    <div
                         class='flex flex-col md:flex-row justify-center md:justify-evenly space-y-8 md:space-y-0 md:space-x-8 items-center  mt-6'>


                        <div class='py-16 bg-gray-100 w-full   flex-1 mx-auto text-center  '>
                            <div
                                 class='flex flex-row justify-between px-12 self-center items-center'>
                                <p class='text-center text-2xl inline-block  text-gray-700'>
                                    Wallet
                                    <br>
                                    <span class='py-2 text-base'> $[/= req.user.wallet /]
                                    </span>
                                </p>
                                <i
                                   class='bi-wallet2      text-4xl inline-block px-5 py-4 bg-gray-700 text-white rounded-full'></i>
                            </div>
                        </div>




                        <div class='py-16 bg-gray-100 w-full flex-1 mx-auto text-center '>
                            <div
                                 class='flex flex-row justify-between px-12 self-center items-center'>
                                <p class='text-center text-2xl inline-block  text-gray-700'>
                                    Bonus
                                    <br>
                                    <span class='py-2 text-base'> $[/= req.user.bonus /] </span>
                                </p>
                                <i
                                   class='bi-graph-up      text-4xl inline-block px-5 py-4 bg-gray-700 text-white rounded-full'></i>
                            </div>
                        </div>



                    </div>

                    <div
                         class='flex  flex-col md:flex-row justify-center md:justify-around space-y-8 md:space-y-0 justify-evenly md:space-x-8 items-center  mt-6'>

                        <div class='py-16  bg-gray-100 w-full flex-1 mx-auto text-center '>
                            <div
                                 class='flex flex-row justify-between px-12 self-center items-center'>
                                <p class='text-center text-2xl inline-block  text-gray-700'>
                                    Total Withdrawal
                                    <br>
                                    <span class='py-2 text-base'> $[/= req.user.withdrawals /]
                                    </span>
                                </p>
                                <i
                                   class='bi-download      text-4xl inline-block px-5 py-4 bg-gray-700 text-white rounded-full'></i>
                            </div>
                        </div>



                        <div class='py-16 bg-gray-100 w-full flex-1 mx-auto text-center '>
                            <div
                                 class='flex flex-row justify-between px-12 self-center items-center'>
                                <p class='text-center text-2xl inline-block  text-gray-700'>
                                    Profit
                                    <br>
                                    <span class='py-2 text-base'> $[/= req.user.profits /]
                                    </span>
                                </p>
                                <i
                                   class='bi-currency-exchange    text-4xl inline-block px-5 py-4 bg-gray-700 text-white rounded-full'></i>
                            </div>
                        </div>


                    </div>
                    [/}/]


                    <!-- Conditional Template Inclusion  -->
                    [/ if ( templateType === 'dashboard'){ /]
                    [/- include('__tx_logs__.ejs'); /]
                    [/ } /]

                    [/ if ( templateType === 'transactions'){ /]
                    [/- include('__transactions__.ejs'); /]
                    [/ } /]


                    [/ if (templateType === 'deposits'){ /]
                    [/- include('__deposit_logs__.ejs'); /]
                    [/ } /]


                    [/ if (templateType === 'notifications'){ /]
                    [/- include('__notifications__.ejs'); /]
                    [/ } /]

                    [/ if (templateType === 'withdrawals'){ /]
                    [/- include('__withdrawal_logs__.ejs'); /]
                    [/ } /]

                    [/ if (templateType === 'settings'){ /]
                    [/- include('__settings__.ejs'); /]
                    [/ } /]

                </div>

            </div>




        </main>

        [/- include('__footer__.ejs');/]



    </body>

</html>