<!DOCTYPE html>
<html dir="ltr"
      lang="en-US">

  <meta http-equiv="content-type"
        content="text/html;charset=UTF-8" />

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  
  <meta name="author"
        content="zytheme" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description"
        content="Bitcoin And Crypto Currency Html5 Template">
  <link href="assets/images/favicon/favicon.png"
        rel="icon">
  
  <link href="https://fonts.googleapis.com/css?family=Exo+2:300i,400,400i,500,500i,600,600i,700%7CRoboto:300i,400,400i,500,500i,700"
        rel="stylesheet"
        type="text/css">
  
  <link href="assets/css/external.css"
        rel="stylesheet">
  <link href="assets/css/bootstrap.min.css"
        rel="stylesheet">
  <link href="assets/css/style.css"
        rel="stylesheet">
  
  <link rel="stylesheet"
        type="text/css"
        href="assets/revolution/css/settings.css">
  <link rel="stylesheet"
        type="text/css"
        href="assets/revolution/css/layers.css">
  <link rel="stylesheet"
        type="text/css"
        href="assets/revolution/css/navigation.css">
  
  
  <title>Cryptori| Bitcoin Investment</title>
  </head>

<body>
  <div class="preloader">
    <div class="signal"></div>
  </div>
  <div id="wrapper"
       class="wrapper clearfix">
    <header id="navbar-spy"
            class="header header-2 header-topbar header-light header-fixed">
      <div id="top-bar"
           class="top-bar bitcoin-tracker-dark">
        <div class="container-fluid pr-0 pl-0">
          <div class="row clearfix">
            <div class="topbarBitcoinTracker"></div>
          </div>
        </div>
      </div>
      <nav id="primary-menu"
           class="navbar navbar-fixed-top">
        <div class="container">
          <div class="">

            <div class="navbar-header">
              <button type="button"
                      class="navbar-toggle collapsed"
                      data-toggle="collapse"
                      data-target="#navbar-collapse-1"
                      aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="logo"
                 href="index-2.html">
                <img class="logo-light"
                     src="assets/images/logo/logo-light.png"
                     alt="enrmous Logo">
                <img class="logo-dark"
                     src="assets/images/logo/logo-dark.png"
                     alt="enrmous Logo">
              </a>
            </div>

            <div class="collapse navbar-collapse pull-right"
                 id="navbar-collapse-1">
              <ul class="nav navbar-nav nav-pos-right navbar-left">

                <li>
                  <a href="#"
                     class=" menu-item">Home</a>

                </li>


                <li>
                  <a href="#abt"
                     class="link-hover"
                     data-hover="pages">About US</a>
                </li>

                <li>
                  <a href="#pln"
                     class="link-hover"
                     data-hover="pages">Investment Plans</a>
                </li>

                <li>
                  <a href="#why"
                     data-toggle=""
                     class=" menu-item">Why Us</a>
                </li>


                <div class="module module-consultation pull-left">
                  <a class="btn btn--secondary btn--bordered btn--rounded"
                     href="/banking/app/">Dashboard</a>
                </div>


      </nav>
    </header>

    <section id="slider"
             class="slider slide-overlay-black">

      <div class="rev_slider_wrapper">
        <div id="slider1"
             class="rev_slider"
             data-version="5.0">
          <ul>

            <li data-transition="zoomin"
                data-slotamount="default"
                data-easein="Power4.easeInOut"
                data-easeout="Power4.easeInOut"
                data-masterspeed="2000">

              <img src="assets/images/sliders/slide-bg/2.jpg"
                   alt="Slide Background Image"
                   width="1920"
                   height="1280">

              <div class="tp-caption"
                   data-x="['center','center','center','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']"
                   data-voffset="['-110','-100','-90','-40']"
                   data-fontsize="['16','16','16','12']"
                   data-lineheight="['25','25','25','25']"
                   data-whitespace="nowrap"
                   data-width="none"
                   data-height="none"
                   data-frames='[{"delay":750,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                   data-responsive_offset="on"
                   data-responsive="off">
                <div class="slide--subheadline text-center">Instant, Secure & Private</div>
              </div>

              <div class="tp-caption"
                   data-x="['center','center','center','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']"
                   data-voffset="['-13','-13','-13','10']"
                   data-fontsize="['60', '50', '40', '30']"
                   data-lineheight="['60','60','60','60']"
                   data-width="none"
                   data-height="none"
                   data-transform_idle="o:1;"
                   data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                   data-splitin="none"
                   data-responsive_offset="on">
                <div class="slide--headline text-center">The Best <br>BITCOIN Investment Platform
                </div>
              </div>

              <div class="tp-caption"
                   data-x="['center','center','center','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']"
                   data-voffset="['90','90','80','80']"
                   data-fontsize="['16', '16', '16', '12']"
                   data-lineheight="['25','25','25','25']"
                   data-width="none"
                   data-height="none"
                   data-frames='[{"delay":1250,"speed":1500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on">
                <div class="slide--bio text-center">Invest Your BTC with High ROI</div>
              </div>

              <div class="tp-caption"
                   data-x="['center','center','center','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']"
                   data-voffset="['160','160','160','190']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                   data-splitin="none"
                   data-splitout="none"
                   data-basealign="slide"
                   data-responsive_offset="on"
                   data-responsive="on">
                <div class="slide-action">
                  <a class="btn btn--white btn--bordered btn--rounded"
                     href="/banking/authentications/sign-in/">Get Started</a>
                </div>
              </div>
            </li>

            <li data-transition="slideremoveup"
                data-slotamount="default"
                data-easein="Power4.easeInOut"
                data-easeout="Power4.easeInOut"
                data-masterspeed="2000">

              <img src="assets/images/sliders/slide-bg/3.jpg"
                   alt="Slide Background Image"
                   width="1920"
                   height="1280">
              <div class="tp-caption"
                   data-x="['center','center','center','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']"
                   data-voffset="['-110','-100','-90','-40']"
                   data-fontsize="['16','16','16','12']"
                   data-lineheight="['25','25','25','25']"
                   data-whitespace="nowrap"
                   data-width="none"
                   data-height="none"
                   data-frames='[{"delay":750,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                   data-responsive_offset="on"
                   data-responsive="off">
                <div class="slide--subheadline text-center">Instant, Secure & Private</div>
              </div>

              <div class="tp-caption"
                   data-x="['center','center','center','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']"
                   data-voffset="['-13','-13','-13','10']"
                   data-fontsize="['60', '50', '40', '30']"
                   data-lineheight="['60','60','60','60']"
                   data-width="none"
                   data-height="none"
                   data-transform_idle="o:1;"
                   data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                   data-splitin="none"
                   data-responsive_offset="on">
                <div class="slide--headline text-center">The Best <br>BITCOIN Investment Platform
                </div>
              </div>

              <div class="tp-caption"
                   data-x="['center','center','center','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']"
                   data-voffset="['90','90','80','80']"
                   data-fontsize="['16', '16', '16', '12']"
                   data-lineheight="['25','25','25','25']"
                   data-width="none"
                   data-height="none"
                   data-frames='[{"delay":1250,"speed":1500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on">
                <div class="slide--bio text-center">Invest Your BTC with High ROI</div>
              </div>

              <div class="tp-caption"
                   data-x="['center','center','center','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']"
                   data-voffset="['160','160','160','190']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                   data-splitin="none"
                   data-splitout="none"
                   data-basealign="slide"
                   data-responsive_offset="on"
                   data-responsive="off">

              </div>
            </li>

            <li data-transition="slidingoverlaydown"
                data-slotamount="default"
                data-easein="Power4.easeInOut"
                data-easeout="Power4.easeInOut"
                data-masterspeed="2000">

              <img src="assets/images/sliders/slide-bg/4.jpg"
                   alt="Slide Background Image"
                   width="1920"
                   height="1280">

              <div class="tp-caption"
                   data-x="['center','center','center','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']"
                   data-voffset="['-110','-100','-90','-40']"
                   data-fontsize="['16','16','16','12']"
                   data-lineheight="['25','25','25','25']"
                   data-whitespace="nowrap"
                   data-width="none"
                   data-height="none"
                   data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on">
                <div class="slide--subheadline">Instant, Secure & Private</div>
              </div>
              <div class="tp-caption"
                   data-x="['center','center','center','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']"
                   data-voffset="['-110','-100','-90','-40']"
                   data-fontsize="['16','16','16','12']"
                   data-lineheight="['25','25','25','25']"
                   data-whitespace="nowrap"
                   data-width="none"
                   data-height="none"
                   data-frames='[{"delay":750,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                   data-responsive_offset="on"
                   data-responsive="off">
                <div class="slide--subheadline text-center">Instant, Secure & Private</div>
              </div>

              <div class="tp-caption"
                   data-x="['center','center','center','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']"
                   data-voffset="['-13','-13','-13','10']"
                   data-fontsize="['60', '50', '40', '30']"
                   data-lineheight="['60','60','60','60']"
                   data-width="none"
                   data-height="none"
                   data-transform_idle="o:1;"
                   data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                   data-splitin="none"
                   data-responsive_offset="on">
                <div class="slide--headline text-center">The Best <br>BITCOIN Investment Platform
                </div>
              </div>

              <div class="tp-caption"
                   data-x="['center','center','center','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']"
                   data-voffset="['90','90','80','80']"
                   data-fontsize="['16', '16', '16', '12']"
                   data-lineheight="['25','25','25','25']"
                   data-width="none"
                   data-height="none"
                   data-frames='[{"delay":1250,"speed":1500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on">
                <div class="slide--bio text-center">Invest Your BTC with High ROI</div>
              </div>
              <div class="tp-caption"
                   data-x="['center','center','center','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']"
                   data-voffset="['160','160','160','190']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                   data-splitin="none"
                   data-splitout="none"
                   data-basealign="slide"
                   data-responsive_offset="on"
                   data-responsive="off">
                <div class="slide-action">
                  <a class="btn btn--white btn--bordered btn--rounded"
                     href="#">Get Started</a>
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </section>


    <section id="BitcoinWidget"
             class="xchange-rate">
      <div class="container">
        <div class="row clearfix">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            <div class="heading heading-1 mb-50 text--center">
              <p class="heading--subtitle">Top Cryptos</p>
              <h2 class="heading--title">Exchange Rates</h2>
              <p class="heading--desc mb-0">Bitcoin is different than any currency you’ve used
                before, so it’s very
                important to understand some key points. </p>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              <div class="tradingview-widget-copyright"><a
                   href="https://www.tradingview.com/markets/"
                   rel="noopener"
                   target="_blank"><span class="blue-text">Financial Markets</span></a></div>
              <script type="text/javascript"
                      src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js"
                      async>
                        {
                          "colorTheme": "dark",
                            "dateRange": "12M",
                              "showChart": true,
                                "locale": "en",
                                  "largeChartUrl": "",
                                    "isTransparent": true,
                                      "showSymbolLogo": true,
                                        "showFloatingTooltip": false,
                                          "width": "350",
                                            "height": "460",
                                              "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
                                                "plotLineColorFalling": "rgba(41, 98, 255, 1)",
                                                  "gridLineColor": "rgba(42, 46, 57, 0)",
                                                    "scaleFontColor": "rgba(120, 123, 134, 1)",
                                                      "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
                                                        "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
                                                          "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
                                                            "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
                                                              "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
                                                                "tabs": [
                                                                  {
                                                                    "title": "Indices",
                                                                    "symbols": [
                                                                      {
                                                                        "s": "FOREXCOM:SPXUSD",
                                                                        "d": "S&P 500"
                                                                      },
                                                                      {
                                                                        "s": "FOREXCOM:NSXUSD",
                                                                        "d": "US 100"
                                                                      },
                                                                      {
                                                                        "s": "FOREXCOM:DJI",
                                                                        "d": "Dow 30"
                                                                      },
                                                                      {
                                                                        "s": "INDEX:NKY",
                                                                        "d": "Nikkei 225"
                                                                      },
                                                                      {
                                                                        "s": "INDEX:DEU40",
                                                                        "d": "DAX Index"
                                                                      },
                                                                      {
                                                                        "s": "FOREXCOM:UKXGBP",
                                                                        "d": "UK 100"
                                                                      }
                                                                    ],
                                                                    "originalTitle": "Indices"
                                                                  },
                                                                  {
                                                                    "title": "Futures",
                                                                    "symbols": [
                                                                      {
                                                                        "s": "CME_MINI:ES1!",
                                                                        "d": "S&P 500"
                                                                      },
                                                                      {
                                                                        "s": "CME:6E1!",
                                                                        "d": "Euro"
                                                                      },
                                                                      {
                                                                        "s": "COMEX:GC1!",
                                                                        "d": "Gold"
                                                                      },
                                                                      {
                                                                        "s": "NYMEX:CL1!",
                                                                        "d": "Crude Oil"
                                                                      },
                                                                      {
                                                                        "s": "NYMEX:NG1!",
                                                                        "d": "Natural Gas"
                                                                      },
                                                                      {
                                                                        "s": "CBOT:ZC1!",
                                                                        "d": "Corn"
                                                                      }
                                                                    ],
                                                                    "originalTitle": "Futures"
                                                                  },
                                                                  {
                                                                    "title": "Bonds",
                                                                    "symbols": [
                                                                      {
                                                                        "s": "CME:GE1!",
                                                                        "d": "Eurodollar"
                                                                      },
                                                                      {
                                                                        "s": "CBOT:ZB1!",
                                                                        "d": "T-Bond"
                                                                      },
                                                                      {
                                                                        "s": "CBOT:UB1!",
                                                                        "d": "Ultra T-Bond"
                                                                      },
                                                                      {
                                                                        "s": "EUREX:FGBL1!",
                                                                        "d": "Euro Bund"
                                                                      },
                                                                      {
                                                                        "s": "EUREX:FBTP1!",
                                                                        "d": "Euro BTP"
                                                                      },
                                                                      {
                                                                        "s": "EUREX:FGBM1!",
                                                                        "d": "Euro BOBL"
                                                                      }
                                                                    ],
                                                                    "originalTitle": "Bonds"
                                                                  },
                                                                  {
                                                                    "title": "Forex",
                                                                    "symbols": [
                                                                      {
                                                                        "s": "FX:EURUSD"
                                                                      },
                                                                      {
                                                                        "s": "FX:GBPUSD"
                                                                      },
                                                                      {
                                                                        "s": "FX:USDJPY"
                                                                      },
                                                                      {
                                                                        "s": "FX:USDCHF"
                                                                      },
                                                                      {
                                                                        "s": "FX:AUDUSD"
                                                                      },
                                                                      {
                                                                        "s": "FX:USDCAD"
                                                                      }
                                                                    ],
                                                                    "originalTitle": "Forex"
                                                                  }
                                                                ]
                        }
                      </script>
            </div>
            <!-- TradingView Widget END -->
          </div>

          <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="btcwdgt-custom">
              <div class="btcwdgt-chart"
                   bw-theme="light"></div>
            </div>
          </div>

        </div>

      </div>

    </section>


    <section id="featured1"
             class="featured featured-1 bg-overlay bg-overlay-dark2 bg-parallax pb-0">
      <div class="bg-section">
        <img src="assets/images/background/1.jpg"
             alt="Background" />
      </div>
      <div class="container-fluid pr-0 pl-0">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInLeft"
               data-wow-delay="100ms">
            <div class="featured-img">
              <img src="assets/images/mockups/laptop-mockup.png"
                   alt="Laptop Mockup">
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-5 col-content"
               id="abt">
            <div class="heading heading-6 mb-50 fadeInRight"
                 data-wow-delay="100ms">
              <h2 class="heading--title text-white">Take Your First Steps to Becoming a Bitcoiner
                Today!</h2>
              <p class="heading--desc text-gray mb-20">Now you can start trading Bitcoin, Ethereum
                and many
                cryptocurrencies fast, easily and safely from where ever you are. With great margin
                trading leverage and
                short sell options available with quick deposit & withdrawal capability, you can
                start trading with us
                in seconds.</p>
              <p class="heading--desc text-gray">Cryptocurrencies have become established investment
                commodities among
                major financial institutions, and have even been adopted by countries such as
                Australia and Japan.</p>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInRight"
                   data-wow-delay="100ms">
                <div class="feature-card">
                  <div class="feature-card-icon">
                    <img src="assets/images/icons/BitcoinIcon1.png"
                         alt="Bitcoin Icon">
                  </div>
                  <div class="feature-card-content">
                    <h3 class="feature-card-title text-white">Quick Deposits and Withdrawals</h3>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInRight"
                   data-wow-delay="200ms">
                <div class="feature-card">
                  <div class="feature-card-icon">
                    <img src="assets/images/icons/BitcoinIcon2.png"
                         alt="Bitcoin Icon">
                  </div>
                  <div class="feature-card-content">
                    <h3 class="feature-card-title text-white">Reliable and Smart Platform</h3>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInRight"
                   data-wow-delay="300ms">
                <div class="feature-card">
                  <div class="feature-card-icon">
                    <img src="assets/images/icons/BitcoinIcon3.png"
                         alt="Bitcoin Icon">
                  </div>
                  <div class="feature-card-content">
                    <h3 class="feature-card-title text-white">Long and <br>Short Selling</h3>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

    </section>


    <section id="featured2"
             class="featured featured-2 pb-50">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInUp"
               data-wow-delay="100ms">
            <div class="feature-card">
              <div class="feature-card-icon">
                <i class="icon-lock"></i>
              </div>
              <div class="feature-card-content">
                <h3 class="feature-card-title">Protection & Security</h3>
                <p class="feature-card-desc">Stop loss and take profit orders will help secure your
                  investment. The
                  system will automatically execute trades to realise gains.</p>
              </div>
            </div>
          </div>


          <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInUp"
               data-wow-delay="200ms">
            <div class="feature-card">
              <div class="feature-card-icon">
                <i class="icon-search"></i>
              </div>
              <div class="feature-card-content">
                <h3 class="feature-card-title">Licensed Exchange</h3>
                <p class="feature-card-desc">Our customers perform transactions not only in
                  cryptocurrency, but the
                  major world currencies supported by the system.</p>
              </div>
            </div>
          </div>


          <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInUp"
               data-wow-delay="300ms">
            <div class="feature-card">
              <div class="feature-card-icon">
                <i class="icon-puzzle"></i>
              </div>
              <div class="feature-card-content">
                <h3 class="feature-card-title">Recurring Buys</h3>
                <p class="feature-card-desc">Invest in digital currency slowly over time by
                  scheduling buys weekly or
                  monthly, allows a trader to profit from a market move.</p>
              </div>
            </div>
          </div>


          <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInUp"
               data-wow-delay="100ms">
            <div class="feature-card">
              <div class="feature-card-icon">
                <i class="icon-recycle"></i>
              </div>
              <div class="feature-card-content">
                <h3 class="feature-card-title">Unlimited Free Transfers</h3>
                <p class="feature-card-desc">Send any currency to friends, family members or
                  business associates as many
                  times as you want, 24 hours a day for free.</p>
              </div>
            </div>
          </div>


          <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInUp"
               data-wow-delay="200ms">
            <div class="feature-card">
              <div class="feature-card-icon">
                <i class="icon-layers"></i>
              </div>
              <div class="feature-card-content">
                <h3 class="feature-card-title">Multi Currency Accounts</h3>
                <p class="feature-card-desc">Support major currencies: USD, EUR, GBP, and various
                  Cryptocurrencies.
                  Funds exchanged between currencies at market rate.</p>
              </div>
            </div>
          </div>


          <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInUp"
               data-wow-delay="300ms">
            <div class="feature-card">
              <div class="feature-card-icon">
                <i class="icon-documents"></i>
              </div>
              <div class="feature-card-content">
                <h3 class="feature-card-title">Blockchain Smart Contracts</h3>
                <p class="feature-card-desc">The first thing to know about blockchain smart
                  contracts is they're not
                  contracts, smart, nor necessarily on a blockchain.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>





    <section id="featured3"
             class="featured featured-3 bg-overlay  pb-0">
      <div class="bg-section"><img src="assets/images/background/6.jpg"
             alt="background"></div>
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-4 wow fadeIn"
               data-wow-delay="100ms">
            <div class="feature-card">
              <div class="feature-card-icon">
                <i class="icon-briefcase"></i>
              </div>
              <div class="feature-card-content">
                <h3 class="feature-card-title">Sign Up For Free</h3>
                <p class="feature-card-desc">Create a digital currency wallet for free, where you
                  can securely store all
                  your digital currency.</p>

              </div>
            </div>
          </div>


          <div class="col-xs-12 col-sm-12 col-md-4 wow fadeIn"
               data-wow-delay="200ms">
            <div class="feature-card">
              <div class="feature-card-icon">
                <i class="icon-wallet"></i>
              </div>
              <div class="feature-card-content">
                <h3 class="feature-card-title">Create Your Wallet</h3>
                <p class="feature-card-desc">Bitcoin is received, stored, and sent using Bitcoin
                  Wallet’. Download
                  official Bitcoin Wallet for free.</p>

              </div>
            </div>
          </div>


          <div class="col-xs-12 col-sm-12 col-md-4 wow fadeIn"
               data-wow-delay="300ms">
            <div class="feature-card">
              <div class="feature-card-icon">
                <i class="icon-bargraph"></i>
              </div>
              <div class="feature-card-content">
                <h3 class="feature-card-title">Buy & Sell Digital Currency</h3>
                <p class="feature-card-desc">Buy some Bitcoin, Ethereum, or any other Digital
                  Currency to begin using
                  the future of money.</p>

              </div>
            </div>
          </div>

        </div>



      </div>

    </section>


    <section id="testimonial1"
             class="testimonial testimonial-1 pt-90">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 wow fadeInUp"
               data-wow-delay="200ms">
            <div id="testimonial-wide"
                 class="carousel carousel-navs"
                 data-slide="1"
                 data-slide-rs="1"
                 data-autoplay="false"
                 data-nav="true"
                 data-dots="false"
                 data-space="0"
                 data-loop="true"
                 data-speed="800">

              <div class="testimonial-panel">
                <div class="testimonial--icon"></div>

                <div class="testimonial--body">
                  <p>“Highly recommended & a great experience. The process was simple and easy to
                    understand. Trading
                    was straight forward, supports all major cryptocurrencies and the entire process
                    was super smooth!”
                  </p>
                </div>

                <div class="testimonial--meta">
                  <div class="testimonial--meta-img">
                    <img src="assets/images/testimonial/2.png"
                         alt="Testimonial Author">
                  </div>
                  <h4>Mahmoud Baghagho</h4>
                  <p>7oroof Agency</p>
                </div>

              </div>


              <div class="testimonial-panel">
                <div class="testimonial--icon"></div>

                <div class="testimonial--body">
                  <p>“Highly recommended & a great experience. The process was simple and easy to
                    understand. Trading
                    was straight forward, supports all major cryptocurrencies and the entire process
                    was super smooth!”
                  </p>
                </div>

                <div class="testimonial--meta">
                  <div class="testimonial--meta-img">
                    <img src="assets/images/testimonial/1.png"
                         alt="Testimonial Author">
                  </div>
                  <h4>ayman fikry</h4>
                  <p>zytheme</p>
                </div>

              </div>


              <div class="testimonial-panel">
                <div class="testimonial--icon"></div>

                <div class="testimonial--body">
                  <p>“Highly recommended & a great experience. The process was simple and easy to
                    understand. Trading
                    was straight forward, supports all major cryptocurrencies and the entire process
                    was super smooth!”
                  </p>
                </div>

                <div class="testimonial--meta">
                  <div class="testimonial--meta-img">
                    <img src="assets/images/testimonial/3.png"
                         alt="Testimonial Author">
                  </div>
                  <h4>Fouad badawy</h4>
                  <p>Tie Labs Inc</p>
                </div>

              </div>

            </div>
          </div>

        </div>

      </div>

    </section>


    <section id="BitcoinEcosystem"
             class="bg-dark mb-70">
      <div class="container">
        <div class="row clearfix">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            <div class="heading heading-4 mb-50 text--center">
              <p class="heading--subtitle text-theme">Realtime Charts</p>
              <h2 class="heading--title text-white">Bitcoin Ecosystem</h2>
              <p class="heading--desc mb-0">Cryptocurrencies have become established investment
                commodities, however as
                with any investment there are risks linked to market movements!</p>
            </div>
          </div>
        </div>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div id="tradingview_19a78"></div>
          <div class="tradingview-widget-copyright"><a
               href="https://www.tradingview.com/symbols/BTCUSD/?exchange=BITSTAMP"
               rel="noopener"
               target="_blank"><span class="blue-text">BTCUSD Rates</span></a> by TradingView</div>
          <script type="text/javascript"
                  src="https://s3.tradingview.com/tv.js"></script>
          <script type="text/javascript">
            new TradingView.MediumWidget(
              {
                "symbols": [
                  [
                    "Bitcoin",
                    "BITSTAMP:BTCUSD|12M"
                  ]
                ],
                "chartOnly": false,
                "width": 1250,
                "height": 500,
                "locale": "en",
                "colorTheme": "dark",
                "gridLineColor": "rgba(42 ,46, 57, 0)",
                "fontColor": "#787B86",
                "isTransparent": true,
                "autosize": false,
                "showFloatingTooltip": true,
                "showVolume": false,
                "scalePosition": "no",
                "scaleMode": "Normal",
                "fontFamily": "Trebuchet MS, sans-serif",
                "noTimeScale": false,
                "chartType": "area",
                "lineColor": "#2962FF",
                "bottomColor": "rgba(41, 98, 255, 0)",
                "topColor": "rgba(41, 98, 255, 0.3)",
                "container_id": "tradingview_19a78"
              }
            );
          </script>
        </div>
        <!-- TradingView Widget END -->
      </div>
    </section>


    <section id="pricing1"
             class="pricing pricing-1 bg-gray">
      <div class="container">
        <div class="row clearfix">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            <div class="heading heading-1 text--center mb-70">
              <p class="heading--subtitle"
                 id="pln">Invest Now!</p>
              <h2 class="heading--title">Our Pricing</h2>
              <p class="heading--desc mb-0">Invest now with us to earn every day and forever in your
                wallet. We accept
                Investment from all over the world.</p>
            </div>
          </div>
        </div>
        <div class="row">

          <div class=" col-xs-12 col-sm-12 col-md-4 price-table">
            <div class="pricing-panel">

              <div class="pricing--heading text--center">
                <div class="pricing--icon">
                  <img src="assets/images/icons/BitcoinIcon4.png"
                       alt="Bitcoin Icon">
                </div>
                <h4>Starter Crypto Plan</h4>
                <p>12<span class="currency">%</span></p>
                <div class="pricing--desc">
                  Enjoy your investment with Bitcoin or Ethereum growing every day.
                </div>
                <a class="btn btn--secondary btn--bordered btn--rounded"
                   href="#">Invest Now</a>
              </div>

              <div class="pricing--footer">
                From $1000 to $10000
              </div>

            </div>
          </div>


          <div class=" col-xs-12 col-sm-12 col-md-4 price-table pricing-active">
            <div class="pricing-panel">

              <div class="pricing--heading text--center">
                <div class="pricing--icon">
                  <img src="assets/images/icons/BitcoinIcon5.png"
                       alt="Bitcoin Icon">
                </div>
                <h4>Basic Crypto Plan</h4>
                <p>25<span class="currency">%</span></p>
                <div class="pricing--desc">
                  Enjoy your investment with Bitcoin or Ethereum growing every day.
                </div>
                <a class="btn btn--white btn--bordered btn--rounded"
                   href="#">Invest Now</a>
              </div>

              <div class="pricing--footer">
                From $10000 to $20000
              </div>

            </div>
          </div>


          <div class=" col-xs-12 col-sm-12 col-md-4 price-table">
            <div class="pricing-panel">

              <div class="pricing--heading text--center">
                <div class="pricing--icon">
                  <img src="assets/images/icons/BitcoinIcon4.png"
                       alt="Bitcoin Icon">
                </div>
                <h4>Starter Crypto Plan</h4>
                <p>12<span class="currency">%</span></p>
                <div class="pricing--desc">
                  Enjoy your investment with Bitcoin or Ethereum growing every day.
                </div>
                <a class="btn btn--secondary btn--bordered btn--rounded"
                   href="#">Invest Now</a>
              </div>

              <div class="pricing--footer">
                From $1000 to $10000
              </div>

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            <div class="pricing--notes">
              Time until ICO close, ICO is live now. 39 million tokens in total, 9 million tokens
              issued during the ICO
              period
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="team1"
             class="team team-1 pb-50">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="member">
              <div class="member-img">
                <img src="assets/images/team/grid/1.jpg"
                     alt="member">
                <div class="member-overlay">
                  <div class="member-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="member-info">
                    <h5>James Wane</h5>
                    <h6>Consultant</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="member">
              <div class="member-img">
                <img src="assets/images/team/grid/2.jpg"
                     alt="member">
                <div class="member-overlay">
                  <div class="member-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="member-info">
                    <h5>John Tommy</h5>
                    <h6>Marketing</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="member">
              <div class="member-img">
                <img src="assets/images/team/grid/3.jpg"
                     alt="member">
                <div class="member-overlay">
                  <div class="member-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="member-info">
                    <h5>Marko Smith</h5>
                    <h6>Cheif Officer</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="member">
              <div class="member-img">
                <img src="assets/images/team/grid/4.jpg"
                     alt="member">
                <div class="member-overlay">
                  <div class="member-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="member-info">
                    <h5>Martin Hope</h5>
                    <h6>Planning</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="member">
              <div class="member-img">
                <img src="assets/images/team/grid/5.jpg"
                     alt="member">
                <div class="member-overlay">
                  <div class="member-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="member-info">
                    <h5>Jennifer Tom</h5>
                    <h6>Managment</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="member">
              <div class="member-img">
                <img src="assets/images/team/grid/6.jpg"
                     alt="member">
                <div class="member-overlay">
                  <div class="member-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="member-info">
                    <h5>John Peter</h5>
                    <h6>HR</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer"
            class="footer footer-1">



      <div class="footer-widget">
        <div class="container">
          <div class="row clearfix">
            <div class="col-xs-12 col-sm-4 col-md-3 footer--widget widget-about">
              <div class="widget-content">
                <img class="footer-logo"
                     src="assets/images/logo/logo-light.png"
                     alt="logo">
                <p>Exchange Cryptocurrency at the Best Rate by getting the best offer from all the
                  exchanges at one
                  place.</p>
                <div class="copyright">
                  <span>© since 2016</span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2 footer--widget widget-links">
              <div class="widget-title">
                <h5>Company</h5>
              </div>
              <div class="widget-content">
                <ul>
                  <li><a href="#">About Us</a></li>

              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2 footer--widget widget-links">
              <div class="widget-title">
                <h5>Contact Support for Info</h5>
              </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-2 footer--widget widget-links">
              <div class="widget-title">
                <h5>How To</h5>
              </div>
              <div class="widget-content">
                <ul>
                  <li><a href="#">Invest Bitcoin</a></li>
                  <li><a href="#">Invest USD</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 footer--widget widget-newsletter">
              <div class="widget-title">
                <h5>Stay Updated</h5>
              </div>
              <div class="widget-content">
                <form class="form-newsletter mailchimp">
                  <input type="email"
                         name="email"
                         class="form-control"
                         placeholder="Subscribe Our Newsletter">
                  <button type="submit"><i class="fa fa-long-arrow-right"></i></button>
                </form>
                <div class="subscribe-alert"></div>
                <div class="clearfix"></div>
                <p>Get the latest updates and offers.</p>
                <div class="footer-social-icon">
                  <a class="facebook"
                     href="#">
                    <i class="fa fa-facebook"></i><i class="fa fa-facebook"></i>
                  </a>
                  <a class="twitter"
                     href="#">
                    <i class="fa fa-twitter"></i><i class="fa fa-twitter"></i>
                  </a>
                  <a class="instagram"
                     href="#">
                    <i class="fa fa-instagram"></i><i class="fa fa-instagram"></i>
                  </a>
                  <a class="linkedin"
                     href="#">
                    <i class="fa fa-linkedin"></i><i class="fa fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="footer--bar">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text--center footer--copyright">
              <div class="payment--methods text--center">
                <a href="#"
                   title="Visa"><img src="assets/images/footer/visa.png"
                       alt="Visa"></a>
                <a href="#"
                   title="Mastercard"><img src="assets/images/footer/mastercard.png"
                       alt="Mastercard"></a>
                <a href="#"
                   title="amex"> <img src="assets/images/footer/amex.png"
                       alt="amex"></a>
                <a href="#"
                   title="Delta"><img src="assets/images/footer/delta.png"
                       alt="Delta"> </a>
                <a href="#"
                   title="Cirrus"><img src="assets/images/footer/cirrus.png"
                       alt="Cirrus"></a>
                <a href="#"
                   title="Paypal"><img src="assets/images/footer/paypal.png"
                       alt="Paypal"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </footer>
      <div id="back-to-top"
           class="backtop"><i class="fa fa-long-arrow-up"></i></div>
      </div>

  <script src="assets/js/jquery-2.2.4.min.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/bitcoinTracker.js"></script>
  <script src="assets/js/bitcoinPrice.js"></script>
  <script src="assets/js/bitcoinPriceWidgets.js"></script>
  <script src="assets/js/functions.js"></script>

  <script src="assets/revolution/js/jquery.themepunch.tools.min838f.js?rev=5.0"></script>
  <script src="assets/revolution/js/jquery.themepunch.revolution.min838f.js?rev=5.0"></script>
  <script src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
  <script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
  <script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>

  <script src="assets/js/rsconfig.js"></script>
</body>


</html>