<!DOCTYPE html>
<html lang="en">

    <head>
        [/- include('__externals__.ejs'); /]

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title>[/= siteName/] | [/= tagline /]</title>
    </head>

    <body class='bg-gray-700'>
        [/- include('__header__.ejs') /]

        <div class='relative'>

            <img src='/img/logo.jpg'
                 class='object-cover w-full h-96 '
                 width='1000'
                 height='500'
                 alt='bg' />

            <p class='text-6xl font-bold text-white absolute top-12 left-10'> <i
                   class='bi-speedometer2'></i>
                Dashboard
            </p>


        </div>

        <main class=' mx-32 my-32'>

            <div class='flex flex-row items-center justify-around space-x-8 '>

                <div class='w-1/4 bg-gray-100 self-start h-screen'>

                    <div>

                        <div>
                            <img src="/07.png"
                                 height="200"
                                 width="150"
                                 alt='Avatar'
                                 class="rounded-full block mx-auto my-4 border-4 border-blue-500" />

                            <h2 class='font-bold text-center px-1 text-xl md:text-2xl capitalize'>
                                Thomas Jasper </h2>
                            <p class=' text-center px-1 text-base md:text-lg '>
                                thomas@gmail.com </p>
                        </div>

                        <div class='flex flex-col  justify-center items-center rounded mt-8'>

                            <a href=""
                               class='py-4 hover:bg-blue-500 hover:text-white capitalize block w-full text-left text-xl px-6  '>
                                <i class='bi-speedometer2 text-xl px-2'></i>
                                Dashboard
                            </a>
                            <a href=""
                               class='py-4 hover:bg-blue-500 hover:text-white capitalize block w-full text-left text-xl px-6  '>
                                <i class='bi-cash-stack text-xl px-2'></i>
                                Deposit money
                            </a><a href=""
                               class='py-4 hover:bg-blue-500 hover:text-white capitalize block w-full text-left text-xl px-6  '>
                                <i class='bi-download text-xl px-2'></i>
                                Withdraw money
                            </a><a href=""
                               class='py-4 hover:bg-blue-500 hover:text-white capitalize block w-full text-left text-xl px-6  '>
                                <i class='bi-box-arrow-up-right text-xl px-2'></i>
                                Total Investment
                            </a><a href=""
                               class='py-4 hover:bg-blue-500 hover:text-white capitalize block w-full text-left text-xl px-6  '>
                                <i class='bi-journal-album text-xl px-2'></i>
                                Transactions
                            </a><a href=""
                               class='py-4 hover:bg-blue-500 hover:text-white capitalize block w-full text-left text-xl px-6  '>
                                <i class='bi-bell text-xl px-2'></i>
                                Notifications
                            </a>
                            </a><a href=""
                               class='py-4 hover:bg-blue-500 hover:text-white capitalize block w-full text-left text-xl px-6  '>
                                <i class='bi-sliders text-xl px-2'></i>
                                Settings
                            </a>
                            </a><a href=""
                               class='py-4 hover:bg-blue-500 hover:text-white capitalize block w-full text-left text-xl px-6  '>
                                <i class='bi-box-arrow-left text-xl px-2'></i>
                                Log out
                            </a>



                        </div>
                    </div>


                </div>

                <div class='flex-1 self-start '>

                    <div class='flex flex-row justify-between items-center py-6 px-12 bg-gray-100'>

                        <div class='w-4/12 relative'> <input type='text'
                                   name='search'
                                   class='py-3 pl-8 w-full pr-8 rounded-lg outline-none ring-1 ring-gray-300'
                                   placeholder='Search  transactions' />


                            <i
                               class='bi-search absolute text-lg cursor-pointer inline-block px-2 py-1 top-2 right-2 bg-gray-700 text-white rounded-full'></i>

                        </div>
                        <div>

                            <div class='relative inline-block'>
                                <i
                                   class='bi-bell text-xl inline-block px-3 py-2 bg-gray-700 text-white rounded-full'></i>
                                <span
                                      class='bg-red-500 text-sm absolute bottom-9 right-1 text-white rounded-full px-2'>
                                    7 </span>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <i
                               class='bi-person text-xl inline-block px-3 py-2 bg-gray-700 text-white rounded-full'></i>

                        </div>

                    </div>


                    <div class=' '>
                        <div class='flex flex-row justify-around space-x-8 items-center  mt-6'>

                            <div class='py-16 bg-gray-100  flex-1 mx-auto text-center  '>
                                <div
                                     class='flex flex-row justify-between px-12 self-center items-center'>
                                    <p class='text-center text-2xl inline-block  text-gray-700'>
                                        Deposit
                                        <br>
                                        <span class='py-2 text-base'> $500.00 </span>
                                    </p>
                                    <i
                                       class='bi-cash      text-4xl inline-block px-5  py-4 bg-gray-700 text-white rounded-full'></i>
                                </div>
                            </div>

                            <div class='py-16 bg-gray-100  flex-1 mx-auto text-center '>
                                <div
                                     class='flex flex-row justify-between px-12 self-center items-center'>
                                    <p class='text-center text-2xl inline-block  text-gray-700'>
                                        Withdraw
                                        <br>
                                        <span class='py-2 text-base'> $500.00 </span>
                                    </p>
                                    <i
                                       class='bi-download      text-4xl inline-block px-5 py-4 bg-gray-700 text-white rounded-full'></i>
                                </div>
                            </div>

                            <div class='py-16 bg-gray-100  flex-1 mx-auto text-center '>
                                <div
                                     class='flex flex-row justify-between px-12 self-center items-center'>
                                    <p class='text-center text-2xl inline-block  text-gray-700'>
                                        Invest
                                        <br>
                                        <span class='py-2 text-base'> $500.00 </span>
                                    </p>
                                    <i
                                       class='bi-graph-up      text-4xl inline-block px-5 py-4 bg-gray-700 text-white rounded-full'></i>
                                </div>
                            </div>



                        </div>

                        <div class='flex flex-row justify-evenly space-x-6 items-center  mt-6'>

                            <div class='py-16 bg-gray-100  flex-1 mx-auto text-center  '>
                                <div
                                     class='flex flex-row justify-between px-12 self-center items-center'>
                                    <p class='text-center text-2xl inline-block  text-gray-700'>
                                        Wallet
                                        <br>
                                        <span class='py-2 text-base'> $500.00 </span>
                                    </p>
                                    <i
                                       class='bi-wallet2      text-4xl inline-block px-5 py-4 bg-gray-700 text-white rounded-full'></i>
                                </div>
                            </div>

                            <div class='py-16 bg-gray-100  flex-1 mx-auto text-center '>
                                <div
                                     class='flex flex-row justify-between px-12 self-center items-center'>
                                    <p class='text-center text-2xl inline-block  text-gray-700'>
                                        Referral
                                        <br>
                                        <span class='py-2 text-base'> $500.00 </span>
                                    </p>
                                    <i
                                       class='bi-link      text-4xl inline-block px-5 py-4 bg-gray-700 text-white rounded-full'></i>
                                </div>
                            </div>

                            <div class='py-16 bg-gray-100  flex-1 mx-auto text-center '>
                                <div
                                     class='flex flex-row justify-between px-12 self-center items-center'>
                                    <p class='text-center text-2xl inline-block  text-gray-700'>
                                        Profit
                                        <br>
                                        <span class='py-2 text-base'> $500.00 </span>
                                    </p>
                                    <i
                                       class='bi-currency-exchange    text-4xl inline-block px-5 py-4 bg-gray-700 text-white rounded-full'></i>
                                </div>
                            </div>


                        </div>
                    </div>


                    <!-- Transaction table  -->
                    [/- include('__tx_logs__.ejs'); /]

                </div>

            </div>




        </main>

        <footer class='bg-gray-100 px-16 py-12 mt-8'>

            <div class='flex flex-row justify-between px-6 items-center'>

                <div>

                    &copy;2021-2022 <span
                          class='font-bold text-sm text-center px-4 text-lg text-blue-500'>
                        [/=siteName /]
                    </span>
                    All
                    rights reserved

                </div>

                <ul class='inline-block ml-48 space-x-8 text-lg text-center text-gray-700 '>
                    <a class='cursor-pointer hover:underline'> About </a>
                    <a class='cursor-pointer hover:underline'> Privacy </a>
                    <a class='cursor-pointer hover:underline'> Terms of use </a>


                </ul>

            </div>

        </footer>



    </body>

</html>