<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title> [/= siteName /] </title>
        <meta name='description'
              content='</= tagline />' />

        [/- include('__externals__.ejs'); /]
    </head>

    <body class='bg-gray-700 min-h-screen '>

        [/- include('__header__.ejs'); /]

        <div class='relative'>

            <img src='/img/bg2.jpg'
                 alt='bg'
                 class='object-cover hidden md:block'>


        <div
             class='max-w-lg absolute top-0 left-0 right-0  mx-auto border border-black mt-16 bg-gray-100 md:rounded mb-48 pt-8 pb-16'>
            <form class=' pb-8 md:rounded w-11/12 mx-auto'
                  method="post"
                  action="/banking/authentications/log-in/">

                <legend class='text-center text-xl font-bold text-blue-500  pb-6'> Sign in
                </legend>

                <div class='pb-4'>

                    [/ if (formErrors.length){ /]
                    <div class='p-4 pl-12 '>

                        [/ formErrors.map( (e)=>{ /]
                        <li class='text-red-500 text-xs md:text-sm text-left font-bold'>
                            [/= e.msg /]
                        </li>
                        [/ }) /]
                    </div>
                    [/ } /]

                    [/ if (authError.length){ /]
                    <div class='p-4 pl-12 '>
                        <p class='text-red-500 text-xs md:text-sm text-left font-bold'>
                            [/= authError /]
                        </p>
                    </div>
                    [/ } /]

                </div>

                <div class='space-y-8'>



                    <div class='w-full md:w-4/5 md:mx-auto'>
                        <label for='email'
                               class='text-base md:text-xl text-left text-black py-4 inline-block'>
                            Email Address
                        </label>
                        <div class='relative'>
                            <input type="email"
                                   name='email'
                                   id='email'
                                   required
                                   class='block  pt-3 pl-12 pb-3 w-full  pr-8  ring-1 outline-none focus:ring-2 ring-black rounded'
                                   placeholder="Email address" />
                            <i class='bi-envelope absolute top-3 text-xl left-3'></i>
                        </div>
                    </div>

                    <div class='w-full md:w-4/5 md:mx-auto'>
                        <label class='text-base md:text-xl text-left text-black py-4 inline-block'
                               for='password'> Password </label>

                        <div class='relative'>
                            <input type="password"
                                   name='password'
                                   id='password'
                                   required
                                   class='block  pt-3 pl-12 pb-3 w-full  pr-8  ring-1 outline-none focus:ring-2 ring-black rounded'
                                   placeholder="Password" />
                            <i class='bi-lock absolute top-3 text-xl left-3'></i>
                        </div>
                    </div>

                    <div>

                        <input type='submit'
                               value='Sign in'
                               class='w-full bg-blue-500 hover:bg-blue-600 text-white md:w-4/5 md:mx-auto block rounded mt-16 text-center p-4 outline-none cursor-pointer text-lg ' />

                    </div>
                </div>
            </form>
        </div>

        </div>

        [/- include('__footer__.ejs'); /]


    </body>

</html>